.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet-detail-left {
    background-color: white;
    margin-right: 10px;
    padding: 10px;
}

.pet-detail-description {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

.pet-detail-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
    background-color: lightblue;
    width: 120px;
    padding: 5px; /* adjust as needed */
}

.value {
    font-size: 1.5rem;
    margin-left: 10px; /* adjust as needed */
}

.price {
    color: red;
}

.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
}

.pet-detail-shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.pet-detail-shop-left {
    margin-right: 20px;
}

.pet-detail-shop-info {
    display: flex;
    flex-direction: column;
}

.pet-detail-right {
    width: 40%;
}

.pet-detail-image {
    margin-bottom: 20px;
}

.pet-detail-description {
    margin-top: 20px;
}

.pet-detail-description-content {
    white-space: pre-wrap;
}
