.wrapper {
    width: 100%;
}

.container {
    width: 100%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Khoảng cách giữa Table và Pagination */
}