.wrapper {
    width: 100%;
    display: flex;
}

.service-detail-left {
    background-color: white;
    margin-right: 10px;
    padding: 20px;
}

.service-detail-right {
    .service-detail-image {
        margin-bottom: 20px;
    }
}

.service-detail-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    background-color: lightblue;
    width: 150px;
    padding: 5px; /* adjust as needed */
}

.value {
    font-size: 1.5rem;
    margin-left: 10px; /* adjust as needed */
}

.service-detail-shop {
    display: flex;
    align-items: center;
    margin-top: 100px;

    .service-detail-shop-left {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.service-detail-right {
    width: 40%;
}

.service-detail-image {
    margin-bottom: 20px;
}

.service-detail-description {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

.service-detail-description-content {
    white-space: pre-wrap;
}

.status-active {
    color: green;
}

.status-inactive {
    color: red;
}

.status-requested {
    color: orange;
}

.button-allow {
    background-color: green;
    border-color: green;
}

.button-deny {
    background-color: red;
    border-color: red;
    margin-left: 20px;
}